body{
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
}
body.bg-dark-1 {
    background: #000;
}
nav.bg-dark-1 {
    background: #000;
}
.pad-left {
    padding-left: 60px;
}
.pad-right {
    padding-right: 60px;
}
a.navbar-brand-1 {
    color: #fff;
    font-size: 23px;
    padding-right: 33px;
    padding-top: 8px;
    font-weight: 700;
}
.navbar-light .navbar-toggler-icon {
    background-image: url('../image/bar.png') !important;
}
a.nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #fff !important;
    margin-top: 8px;
}
a.login {
    color: #fff;
    font-weight: 600;
}
h2.get-more {
    font-weight: 700;
    font-size: 47px;
}
img.img-one {
    width: 100%;
}
input.email-input {
    width: 70%;
    margin-bottom: 15px;
    padding: 11px 0 11px 8px;
    font-size: 14px;
    border-radius: 7px;
}
p.atw-p {
    font-size: 18px;
}
a.btn-fb {
    background: blue;
    color: #fff;
    width: 59%;
    height: 44px;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 16px;
}
a.btn-gog {
    background: red;
    color: #fff;
    width: 59%;
    height: 44px;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 16px;
}
button.btn-sign-free {
    background: red;
    color: #fff;
    width: 30%;
    height: 44px;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 16px;
}
a.btn-sign-free {
    background: #ff0000;
    background-color: #ff0000;
    padding-top: 7px;
    color: #fff;
    width: 30%;
    height: 44px;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 16px;
}
a.btn-forget {
    background: red;
    color: #fff;
    width: 30%;
    height: 44px;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 16px;
}
a.btn-sign {
    background: red;
    color: #fff;
    width: 30%;
    height: 44px;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 16px;
}
p.already-p {
    font-size: 20px;
    margin-top: 28px;
}
a.log-a {
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}
section.top-mar {
    margin-top: 73px;
}

nav.pad-left {
    padding-left: 37px;
}
form.pad-right {
    padding-right: 151px;
}





/* --------app dashboard----------- */

/* --------changes css------------ */

video.video-cs {
    /* width: 265px !important;
    height: 172px !important;
    margin: 8px 0 0 96px !important; */
    width: 331px !important;
    height: 238px !important;
    width: 360px;
    height: 212px;
    position: absolute;
    z-index: 99;
    margin: 0 0 0 0;
    border-radius: 17px;
}
/* ----------------------- */
p.custom-rtmp {
    font-size: 28px;
    font-weight: bold;
}
img.tv-img {
    width: 67%;
    position: relative;
    margin: 0 0 0 77px;
}
.sidebar {
    height: 100%;
    width: 77px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C4C4C4;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 50px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }


.sidebar-1 {
    height: 100vh;
    width: 58px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #091e42;
    overflow-x: hidden;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-1 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar-1 a:hover {
    color: #f1f1f1;
  }
  
  .main-1 {
    margin-left: 123px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  img.side3-img {
      width: 80%;
      margin: 14px 0 23px 0;
  }
  img.side1-img {
      width: 80%;
      margin-bottom: 23px;
  }
  img.side2-img {
      width: 80%;
  }
  a.welcome-heading {
      font-weight: 700;
      margin-top: 42px;
      line-height: 34px;
      font-size: 35px;
    color: #fff;
  }
  p.add-channel-p {
      line-height: 36px;
  }
  input.rtmp-input {
    width: 64%;
    border-radius: 6px;
    padding: 5px 0 5px 13px;
}
button.btn-copy {
    background: red;
    width: 25%;
    margin-left: 29px;
    border-radius: 6px;
}
.first-inp {
    margin-bottom: 21px;
}
button.btn-copy {
    background: red;
    width: 22%;
    margin-left: 41px;
    border-radius: 4px;
    color: #fff;
    font-weight: 800;
}
button.btn-copy:hover,button.btn-generate:hover {
    color: #fff;
}
img.img-pexel-joseph {
    width: 100%;
}
.bg-pexel-joseph {
    background-image: url(../image/tv.jpg) !important;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-size: 385px 316px;
    z-index: 99;
    height: 304px;
    width: 100%;
    margin: 0 0 0 102px;
    padding: 5px 0 0 25px;
}
.mar-top {
    margin-top: 79px;
    margin-right: 2px;
}
hr.hr-1 {
    border-top: 1px solid rgb(249 238 238 / 67%);
    width: 49%;
    margin-top: 95px;
}
button.btn-generate {
    background: red;
    width: 29%;
    font-size: 18px;
    margin-top: 24px;
    color: #fff;
    font-weight: 700;
}
p.multistrming-dash-p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
h2.multiple-dash-h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 29px;
}
p.grow-dash-p {
    font-size: 26px;
    margin-bottom: 40px;
}
a.btn-getstarted {
    background: red;
    color: #fff;
    line-height: 36px;
    width: 33%;
    border-radius: 6px;
    font-weight: 800;
}
a.btn-getstarted:hover{
    color: #fff;
}
img.restream-dash-img {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    /* max-height: 406px */
    max-height: 365px
}

/* social channel */
img.live-img {
    width: 12%;
}
button.add-channel-btn {
    background: red;
    margin-top: 36px;
    width: 17%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
a.add-channels-btn {
    color: #fff;
    background: red;
    margin: 12px 0 0 0;
    width: 20%;
}
img.fbl-img {
    width: 100%;
    cursor: pointer;
}
.main-1 {
    margin-left: 9px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  h2.media-h2 {
    font-size: 46px;
    margin: 12px 0 0 28px;
    font-weight: 700;
    letter-spacing: 2px;
}
/* img.moon-img {
    width: 100%;
    margin: 0 0 0 11px;
} */
img.moon-img {
    box-shadow: 20px 20px 20px 0 #ffffff21;
    width: 100%;
    margin: 18px 0 0 11px;
    border: 1px solid #ffffff7d;
    border-radius: 8px;
}
.bg-light-silv {
    padding: 39px 18px 18px 50px;
}
p.enjoy-p {
    font-size: 27px;
}
h4.eileen-marable-h4 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 31px 0 5px 0;
}
p.senior-digi-p {
    font-size: 22px;
}
.bg-new {
    background: #253858;
    padding: 21px;
    border-radius: 10px;
    margin-bottom: 25px;
}
img.cn-img {
    width: 67%;
    background: #fff;
}
  
  /* social-fb */
  .top-mar {
    margin-top: 156px;
}
button.conct-fb-btn {
    background: blue;
    color: #fff;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    margin-top: 34px;
}
.borde-r {
    border-left: 1px solid #c0c0c0c9;
    z-index: 999;
}
p.learn-cont-fb-p {
    margin-top: 34px;
    margin-left: 27px;
    font-size: 19px;
}
span.learn-span {
    color: red;
}
h2.about-h2 {
    margin-left: 26px;
    font-size: 44px;
    font-weight: 700;
}
h2.facbook-h2 {
    font-size: 44px;
    font-weight: 700;
}
i.fa-fb {
    color: blue;
    background: #fff;
    border-radius: 23px;
    padding: 6px 9px 5px 8px;
    font-size: 15px;
}

/* studio */
body.bg-blue {
    background: #172b4d;
}
.nav.bg-blue {
    background: #172b4d;
}
a.add-designation-btn {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    height: 38px;
    padding: 6px 14px;
    border-radius: 4px;
    font-weight: 700;
    outline: 0;
    margin-right: 12px;
}
a.btn.add-designation-btn:hover {
    color: #d2d1d1;
}
a.go-live-btn {
    padding: 6px 14px;
    background-color: #f63;
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: .02em;
    font-weight: 700;
    color: #fff;
    transition: background-color 200ms ease-out;
}
.arrow-left {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    outline: 0;
    border: 0;
    font-size: 12px;
    border-radius: 4px;
    color: rgba(255,255,255,.9);
    background-color: #253858;
    transition: background-color 200ms ease-out;
    cursor: pointer;
    margin-right: 11px;
    margin-top: 3px;
}
i.fa-arrow {
    font-size: 26px;
    padding: 3px 0 0 12px;
}
a.navbar-brand-studio {
    color: #fff;
    font-size: 24px;
    padding-right: 33px;
    padding-top: 8px;
    font-weight: 700;
}
form.add-des-mar {
    margin-left: 41%;
}
nav.pad-left-1 {
    padding-left: 17px;
}
.firt-sec {
    background: #374966;
    border-radius: 4px;
    height: 14px;
    width: 58%;
}
.sec-sec {
    background: #374966;
    border-radius: 4px;
    height: 127px;
    width: 100%;
    margin-top: 6px;
}
.grid-container {
    display: grid;
    grid-template-columns: 259px 650px auto;
    background-color: #172b4d;
    padding: 10px;
  }
  .grid-item {
    background-color: #091e42;
    padding: 16px;
    font-size: 30px;
    text-align: center;
    height: 564px;
    border-radius: 5px;
  }
  i.fa-cmt {
    padding: 0 8px 0 0;
 }
 p.chat-p {
    font-size: 14px;
    color: #bec4cd;
}  
p.chaption-p {
    font-size: 14px;
    color: #bec4cd;
}
img.caption-img {
    width: 25%;
}
p.chat-p:hover {
    color: #fff;
    cursor: pointer;
}
p.chaption-p:hover {
    color: #fff;
    cursor: pointer;
}
img.chat-img {
    width: 25%;
    margin-left: 28px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #253858;
}
a.font-nav {
    font-size: 13px;
}
.flx {
    display: flex;
    flex-wrap: wrap;
}
p.chat-overlay-p {
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
}
.bg-about-chat {
    background: #071835;
    padding: 13px 0 0 11px;
}
img.r-img {
    background: #fff;
    border-radius: 53px;
    width: 31px;
}
.bg-wht-blr {
    text-align: left;
    background: #253858;
    margin: 10px 0 0 9px;
    border-radius: 8px;
    padding: 9px;
}
p.restream-p {
    font-size: 16px;
    color: #b0b7c3;
    font-weight: 600;
    margin: 0;
}
p.social-cmt-p {
    font-size: 15px;
    color: #ffffffde;
    font-weight: 600;
}
img.drop-down-img {
    width: 20px;
    background: #fff;
    border-radius: 17px;
}
.footer {
    background: #172b4d;
    margin: 279px 0 0 0;
    padding: 2px 0 5px 0;
}
input.input-p {
    width: 100%;
    background: #172b4d;
    border: none;
    height: 35px;
    font-size: 15px;
    color: #fff;
    margin: 0;
}
input.input-p:focus-visible {
    outline: none;
}
span.time-span {
    font-size: 12px;
    float: right;
    margin-right: 6px;
}
.bg-silver {
    background: #253858;
    padding: 12px 0 12px 20px;
    border-radius: 9px;
    cursor: pointer;
    text-align: left;
}
.bg-silver-1 {
    background: #172b4d;
    padding: 12px 0 12px 20px;
    border-radius: 9px;
    cursor: pointer;
    text-align: left;
}
p.restream-p {
    font-size: 16px;
    color: #d5dae3;
    font-weight: 600;
    margin: 0;
    font-size: 15px;
}
p.restream-atthe {
    font-size: 14px;
    color: #d5dae3;
    margin: 0;
}
input.email-inp {
    background: #253858;
    width: 94%;
    border: none;
}
button.btn-cancel {
    color: #8e97a8;
    font-size: 14px;
    font-weight: 700;
}
button.btn-caption {
    color: #8e97a8;
    font-size: 14px;
    font-weight: 700;
    background: #2152b4;
    border: #2152b4;
}
input.email-inp:focus {
    background: #172b4d;
}
.overlay {
    position: absolute;
    top: 126px;
    bottom: 0;
    left: 14px;
    right: 0;
    border-radius: 11px;
    height: 87px;
    width: 93%;
    opacity: 0;
    transition: .5s ease;
    background-color: #286ffe;
    cursor: pointer;
}
.overlay-1 {
    position: absolute;
    top: 63px;
    bottom: 0;
    left: 14px;
    right: 0;
    border-radius: 11px;
    height: 67px;
    width: 93%;
    opacity: 0;
    transition: .5s ease;
    background-color: #286ffe;
    cursor: pointer;
}
.overlay-2 {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 14px;
    right: 0;
    border-radius: 11px;
    height: 67px;
    width: 93%;
    opacity: 0;
    transition: .5s ease;
    background-color: #286ffe;
    cursor: pointer;
}
.pshow {
    font-size: 18px;
    padding: 29px 0 0 0;
}
.pshow-1 {
    font-size: 18px;
    padding: 20px 0 0 0;
}
.pshow-2 {
    font-size: 18px;
    padding: 20px 0 0 0;
}
  
  .contain:hover .overlay {
    opacity: 1;
  }
  .contain-1:hover .overlay-1 {
    opacity: 1;
  }
  .contain-2:hover .overlay-2 {
    opacity: 1;
    }
    button.brand-setting {
        color: #ffff;
        font-size: 19px;
        font-weight: 700;
    }
    .card {
        background-color: #091e42;
    }
    img.tr-img {
        width: 16%;
        border-radius: 8px;
        height: 49px;
        border: 2px solid blue;
    }
    .card-header {
        padding: 0;
    }
    img.tr-img-1 {
        width: 22%;
        border-radius: 8px;
        height: 49px;
        border: 2px solid blue;
    }
    .add-bg {
        background: #223555;
        border-radius: 10px;
        padding: 0 19px 5px 0;
        margin-left: 15px;
        cursor: pointer;
    }
    i.fa-plsu {
        font-size: 16px;
        margin: 0 0 0 18px;
    }
    .add-bg-1 {
        background: #223555;
        border-radius: 10px;
        padding: 0 33px 5px 12px;
        margin-left: 9px;
        cursor: pointer;
    }
    i.fa-plsu-1 {
        font-size: 16px;
        margin: 0 0 0 18px;
    }
    .card-header {
        text-align: left;
    }
    .card-body {
        padding: 0 0 0 13px;
    }
    .img-df {
        display: flex;
        flex-wrap: wrap;
    }
    p.theme-p {
        font-size: 13px;
        margin: 0 0 4px 0;
    }
    p.primary-p {
        font-size: 13px;
        margin: 14px 0 4px 0;
    }
    a.bord-img {
        background: #172b4d;
        margin: 0 8px 0 0;
        padding: 4px 0 9px 8px;
        cursor: pointer;
    }
    a.bord-img-2 {
        background: #172b4d;
        margin: 0 8px 0 0;
        padding: 4px 9px 9px 8px;
        cursor: pointer;
    }
    a.bord-img-1 {
        background: #172b4d;
        margin: 0 8px 0 0;
        padding: 4px 0 9px 8px;
        cursor: pointer;
    }
    span.default-graphics {
        font-size: 14px;
        margin-left: 13px;
    }
    span.blue-col {
        background: #266EFF;
        width: 9%;
        height: 30px;
        border-radius: 6px;
    }
    span.silver-col {
        background: #40526f;
    }
    span.silver-col {
        background: #40526f;
        font-size: 18px;
        margin-left: 10px;
        padding: 3px 8px 0 9px;
    height: 31px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    span.light-silver-col {
        background: #253858;
        height: 31px;
        font-size: 16px;
        padding: 5px 36px 0 13px;
        border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }
    .blk-screen {
        background: #000;
        margin: 1px 15px 0 15px;
        height: 362px;
        padding: 82px 80px 0 80px;
    }
    i.fa-video {
        font-size: 28px;
    }
    p.access-camera-p {
        font-size: 23px;
        margin: 13px 0 0 0;
        color: #d5dae3;
    }
    p.acs-camera-p {
        font-size: 13px;
        margin: 13px 0 0 0;
        color: #d5dae3;
    }
    button.btn-allow-mic {
        background: #266EFF;
        color: #fff;
        margin-top: 31px;
        width: 87%;
        margin-left: 40px;
    }
    button.btn-without {
        margin: 32px 42px 0 0;
    }
    .lght-back-clr {
        background: #091e42;
        margin: 0 15px 0 15px;
        height: 44px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    }
    i.fa-micro {
        font-size: 23px;
        color: #f1ecec;
        background: #374966;
        border-radius: 18px;
        padding: 8px 11px 6px 11px;
    }
    i.fa-vido {
        font-size: 23px;
        color: #f1ecec;
        background: #374966;
        border-radius: 18px;
        padding: 8px 8px 6px 8px;
        margin: 0 9px 0 9px;
    }
    
    i.fa-lapt {
        font-size: 23px;
        color: #f1ecec;
        background: #374966;
        border-radius: 18px;
        padding: 8px 8px 6px 8px;
    }
    i.fa-user {
        font-size: 20px;
        color: #f1ecec;
        background: #374966;
        border-radius: 18px;
        padding: 8px 8px 6px 8px;
        margin: 0 9px 0 9px;
    }
    
    i.fa-pls {
        font-size: 23px;
        color: #f1ecec;
        background: #374966;
        border-radius: 18px;
        padding: 8px 9px 6px 9px;
    }
    i.fa-grear {
        font-size: 23px;
        color: #f1ecec;
        background: #374966;
        border-radius: 18px;
        padding: 7px 10px 6px 10px;
        margin: 0 9px 0 9px;
    }
    .icons-group {
        margin: 3% 0 0 28%;
    }
    i.fa-cm {
        background: #374966;
        padding: 12px;
        border-radius: 28px;
        font-size: 25px;
        margin-right: 17px;
        margin-top: 13px;
    }
    i.fa-cmt-1 {
        font-size: 19px;
        padding: 0 10px 0 0;
    }
    .space-p {
        height: 167px;
    }
    a.it-col {
        color: #fff;
    }
    .down-up {
        margin: 27px 0 0 20px;
    }
    a.it-col:hover {
        color: #fff;
        background: none;
    }
    p.privately-p {
        font-size: 12px;
    }
    input.private-chat-input {
        background: #172b4d;
        border: none;
        color: #fff;
    }
    img.icon-img-send {
        width: 18px;
    }
    

    /* new-home */
    a.sign-out-a {
        background: red;
        color: #fff;
        padding: 10px 15px 10px 15px;
        border-radius: 7px;
    }
    p.span-sign-out {
        color: #000;
        padding: 9px 0 0 0;
        font-weight: 700;
    }
    a.a-bg {
        padding: 5px 15px 6px 10px;
    }
    a.get-power-b {
        text-align: right;
    }
    a.get-power-a {
        text-align: left;
    }
    a.a-bg-2 {
        padding: 5px 15px 6px 10px;
    }
    a.a-bg-git {
        padding: 5px 15px 6px 10px;
        /* margin-top: 247px; */
    }
    
    i.home-fa {
        padding: 0 0 0 5px;
        font-size: 25px;
        margin-bottom: 10px;
    }
    i.cal-fa {
        padding: 0 0 0 5px;
        font-size: 23px;
        margin-bottom: 10px;
    }
    i.colud-fa {
        padding: 0 0 0 5px;
        font-size: 23px;
        margin-bottom: 10px;
    }
    i.bar-fa {
        padding: 0 0 0 5px;
        font-size: 23px;
        margin-bottom: 10px;
    }
    i.ellic-fa {
        padding: 0 0 0 5px;
        font-size: 23px;
        margin-bottom: 10px;
    }

    i.gift-fa {
        padding: 0 0 0 5px;
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    a.a-bg:focus {
        background: #253858;
        padding: 6px 0 0 0px;
        margin: 0 14px 0 8px;
        color: #fff;
        border: 1px solid #4c9aff;
        border-radius: 6px;
    }
    a.a-bg-1:focus {
        background: #253858;
        padding: 6px 0 0 2px;
        margin: 0 10px 0 10px;
        color: #fff;
        border: 1px solid #4c9aff;
        border-radius: 6px;
    }
    a.a-bg-2:focus {
        background: #253858;
        padding: 6px 0 0 0px;
        margin: 0 14px 0 8px;
        color: #fff;
        border: 1px solid #4c9aff;
        border-radius: 6px;
    }
    a.a-bg-3:focus {
        background: #253858;
        padding: 6px 0 0 0px;
        margin: 0 10px 0 10px;
        color: #fff;
        border: 1px solid #4c9aff;
        border-radius: 6px;
    }
    section.header {
        background: red;
        height: 35px;
        padding: 9px 0 0 0;
    }
    p.get-more-p {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 600;
        color: #fff;
        margin: 0 0 0 11%;
    }
    i.fa-o-usr {
        margin: 0 5px 0 0;
        font-size: 16px;
    }
    p.u-name-p {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 600;
        color: #fff;
        margin: 0 3% 0 0;
    }
    p.wlcm-p {
        letter-spacing: .01em;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #a5adba;
    }
    p.wht-wod-p {
        font-weight: 700;
        font-size: 22px;
        line-height: 36px;
        color: #fafbfc;
        margin-bottom: 65px;
    }
    section.body {
        padding: 54px 0 0 0;
    }
    .box-1 {
        background: red;
        width: 100%;
        color: #fff;
        padding: 29px 0 3px 0;
        border-radius: 7px;
        cursor: pointer;
    }
    .box-2 {
        background: #253858;
        width: 100%;
        color: #fff;
        padding: 29px 0 3px 0;
        border-radius: 7px;
        cursor: pointer;
    }
    .box-3 {
        background: #253858;
        width: 100%;
        color: #fff;
        padding: 29px 0 3px 0;
        border-radius: 7px;
        cursor: pointer;
    }
    .box-4 {
        background: #253858;
        width: 100%;
        color: #fff;
        padding: 29px 0 3px 0;
        border-radius: 7px;
        cursor: pointer;
    }
    .box-mar {
        margin: 7% 0 0 74%;
    }
    .box-mar-1 {
        margin: 7% 74% 0 0;
    }
    i.camera-fa {
        font-size: 43px;
        margin-bottom: 10px;
    }
    p.stream-p {
        font-size: 15px;
    }
    p.schedule-p {
        font-size: 15px;
        margin: 19px 0 11px 0;
    }
    section.fixed {
        /* position: fixed; */
        /* margin: 5% 0 0 94%; */
        z-index: 99;
    }
    section.fixed-1 {
        position: fixed;
        margin: 6% 0 0 96%;
        z-index: 99;
    }
    i.cmt-fa {
        background: #676262;
        padding: 11px;
        border-radius: 26px;
        font-size: 27px;
        margin: 0 6px 6px 0;
    }
    .border-rad {
        margin: 10% 13% 3% 17%;
        border: 1px solid #a5adba;
        border-radius: 3px;
        padding: 47px 42px 30px 42px;
    }
    p.no-upcoming-p {
        font-size: 14px;
    }
    p.no-upcoming-p {
        font-size: 14px;
        color: #a5adba;
    }
    img.doum-img {
        width: 100%;
        border-radius: 41px;
        height: 33px;
        margin-bottom: 11px;
    }
    .bg-col-sli {
        background: #c0c0c04a;
        padding: 25px 35px 23px 35px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    /* social-storage */
    button.upgrade-now-btn:hover {
        color: #fff;
    }
    button.upload-video-btn:hover {
        color: #fff;
    }
    h2.video-sto-h2 {
        margin: 18px 0 0 72px;
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 1px;
    }
    section.tab-socail {
        margin: 22px 0 0 71px;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .nav-tabs .nav-item.show .nav-link, 
    .nav-tabs .nav-link.active {
        color: #fff !important;
        background: none;
        border-color: #676262;
    }
    i.cloud-icon-fa {
        font-size: 93px;
        background: #676262;
        border-radius: 84px;
        padding: 21px;
        margin-bottom: 32px;
    }
    .mat-tad {
        margin-top: 9%;
    }
    p.upgarde-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        margin-bottom: 36px;
        letter-spacing: 1px;
        margin-top: 7px;
    }
    button.upgrade-now-btn {
        background: red;
        border-radius: 4px;
        color: hsla(0,0%,100%,.9);
    }
    p.upgarde-to {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        margin-bottom: 20px;
        letter-spacing: 1px;
        margin-top: 7px;
    }
    .bg-img-10 {
        background-image: url('../image/tree.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 14px 0 0;
    }
    button.btn-submit {
        background: red;
        color: #fff;
        width: 37%;
        height: 44px;
        font-weight: 500;
        font-size: 19px;
        margin-top: 9px;
    }
    textarea.addres-area {
        padding: 6px 0 0 13px;
        border-radius: 5px;
    }
    button.upload-video-btn {
        background: blue;
        color: #fff;
        margin: 16px 0 0 0;
    }
    select.slect-down {
        width: 3%;
        height: 37px;
        margin-top: 14px;
        background: blue;
        border-top-right-radius: 3px;
        border: 1px solid blue;
        margin-left: -2px;
        border-bottom-right-radius: 3px;
    }

    /* sign in */
    p.already-p-1 {
        font-size: 13px;
        margin-top: -10px;
    }
    a.sign-up {
        font-weight: 700;
        color: #fff;
        font-size: 17px;
    }
    a.forget {
        font-weight: 700;
        color: #fff;
        font-size: 17px;
    }
    .sign-up-d {
        margin-top: -10px;
        margin-left: 39px;
    }



    /* footer */
    p.fooot {
        color: #fff;
        text-align: center;
        padding: 12px 0 14px 0;
        font-size: 31px;
        font-weight: bold;
        margin-top: 11px;
    }
    section.footers {
        background: #000;
        width: 100%;
        margin: 0;
    }
    section.footer-1 {
        width: 96%;
        margin: 0 0 0 54px;
    }
h5.footer-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}
a.foot-list {
    font-size: 11px;
    color: silver;
}
.mab {
    margin: 0 0 0 49px;
}
.hr {
    border-bottom: 1px solid silver;
}
a.support-base {
    color: #fff;
}
.footer-copyright {
    color: #fff;
    font-size: 14px;
}

/* does-it-work */
.whit-back {
    background: #fff;
    height: 400px;
    width: 100%;
}
h2.welcome-heading {
    margin-top: 20px;
}
img.cam-img {
    width: 100%;
    margin: 55px 0 0 0;
}
.whit-back {
    background: #f6f6f6;
    height: 400px;
    width: 100%;
}
.one {
    width: 100%;
    background: #ffffff;
    height: 389px;
}
img.cam-img-1 {
    width: 100%;
    /* height: 389px; */
    margin-top: 0;
    position: relative;
}
p.alpha-one {
    color: #000;
    font-size: 88px;
    font-weight: 900;
    text-shadow: 7px 4px #00000054;
    margin: 49px 0 0 18px;
}
p.alpha-two {
    color: #000;
    font-size: 88px;
    font-weight: 900;
    text-shadow: 7px 4px #00000054;
    margin: 49px 0 0 0;
}
p.add-2 {
    font-size: 24px;
    color: #000 !important;
    margin: 15px 18px 0 17px;
}
.cam-img {
    background-image: url('../image/nikon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 384px 390px;
    z-index: 999;
    width: 100%;
}
video.video-cs-1 {
    position: absolute;
    z-index: 99;
    /* width: 12%;
    margin: 191px 0 0 80px;
    border-radius: 7px; */
    width: 11%;
    height: 133px;
    margin: 173px 0 0 84px;
    border-radius: 0;
}
.dflex {
    display: flex;
}
a.add-channel-btn {
    background: red;
    color: #fff;
    margin: 21px 0 0 0;
    width: 19%;
}
a.add-channel-btnn {
    background: red;
    color: #fff;
    margin: 21px 0 0 0;
    width: 40%;
}
a.add-channel-btnn:hover{
    color: #fff;
}
a.go-li-btn {
    background: red;
    color: #fff;
    margin: 21px 0 0 0;
    width: 41%;
}
a.add-channel-btn:hover {
    color: #fff;
}
a.go-li-btn:hover,a.btn-forget:hover,
a.btn-fb:hover,a.btn-gog:hover,
a.btn-sign:hover,button.btn-submit:hover,
a.btn-sign-free:hover,button.btn-sign-free:hover,
a.add-channel-btn:hover,
button.conct-fb-btn:hover,
button.btn-allow-mic:hover,
a.go-live-btn:hover {
    color: #fff;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 399px){
    /* sign up */
     button.btn-sign-free {
         width: 56%;
     font-size: 16px;
     }
     a.add-channel-btnn {
        width: 42% !important;
    }
     .mab {
         margin: 0 !important;
     }
     p.already-p {
         font-size: 15px;
         margin-top: 14px;
     }
     .pad-right {
         padding-right: 14px;
     }
     .pad-left {
         padding-left: 17px;
     }
     section.top-mar {
         margin-top: 41px;
     }
     input.email-input {
         width: 99%;
     }
     h2.get-more {
         font-size: 33px;
     }
     p.atw-p {
         font-size: 14px;
     }
     img.img-one {
         margin-top: 4px;
     }
 
     /* home */
     a.btn-fb {
         width: 84%;
         font-size: 16px;
         padding-top: 9px;
     }
     a.btn-gog {
         width: 84%;
         font-size: 16px;
         padding-top: 9px;
     }
     a.btn-sign {
         width: 65%;
         font-size: 16px;
         padding-top: 9px;
     }
     /* dashboard */
 /* ----------- new changes ------------- */
 h2.multiple-dash-h2 {
    font-size: 34px;
 }
 .mar-top {
    margin-top: 30px;
 }
 p.grow-dash-p {
    font-size: 16px;
 }
 a.btn-getstarted {
    width: 52%;
    margin-bottom: 20px;
 }
 img.restream-dash-img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    max-height: 159px;
}
img.tv-img {
    width: 92%;
margin: 0 0 0 26px;
}
video.video-cs {
    width: 280px !important;
    height: 166px !important;
    margin: 0;
}
.bg-pexel-joseph {
    /* background-size: 342px 236px; */
    background-size: 329px 236px;
    height: 304px;
    width: 100%;
    margin: 0;
    padding: 20px 0 0 21px;
}
 /* -------------------- */

     .main-1 {
         margin-left: 0 !important;
         padding: 0 !important;
     }
     a.welcome-heading {
         font-size: 23px;
     }
     button.btn-generate {
         width: 68% !important;
         margin-top: 24px;
         margin-bottom: 19px;
     }
     /* .sidebar {
         width: 70px !important;
     } */
     .sidebar-new {
         width: 70px !important;
     }
     input.rtmp-input {
         width: 100% !important;
     }
     button.btn-copy {
         width: 22%;
         margin-left: 4px !important;
         margin-top: 9px;
         width: 57% !important;
     }
     p.add-channel-p {
         line-height: 25px !important;
         font-size: 15px;
     }
     .bg-pexel-joseph {
         margin-bottom: 13px;
     }
     button.btn-generate {
         width: 29%;
         margin-top: 13px;
         margin-left: 5px;
     }
     /* social channel */
     a.add-channel-btn {
        width: 53%;
    }
     img.cn-img {
        margin: 0 0 9px 0;
    }
    .bg-light-silv {
        padding: 39px 18px 18px 17px;
    }
    p.enjoy-p {
        font-size: 22px;
    }
     img.live-img {
         width: 40% !important;
         margin-top: 16px;
     }
     button.add-channel-btn {
         width: 84% !important;
     }
     img.fbl-img {
         margin-bottom: 15px;
     }
     .mar-h {
         margin: 0 0 0 8px;
     }
      /* social-fb */
      .main {
         margin-left: 10px !important;
         padding: 0 !important;
     }
     .borde-r {
         border-left: none !important;
         border-top: 1px solid #c0c0c0c9 !important;
     }
     button.conct-fb-btn {
         margin-top: 15px;
         margin-bottom: 24px;
     }
     h2.about-h2,p.learn-cont-fb-p {
         margin-left: 0 !important;
     }
     .top-mar {
         margin-top: 79px !important;
     }
     h2.about-h2 {
         margin-top: 23px;
     }
     /* sign in */
     p.already-p-1 {
         font-size: 11px !important;
     }    
     a.sign-up,a.forget {
         font-size: 16px !important;
     }
     /* forget */
     a.btn-forget {
         width: 63%;
     }
     /* my-account */
     
     .fg-mar {
         margin-left: 28px !important;
     }
     input.name-input {
         width: 90%;
     }
     .bg-col-sli {
         width: 100%;
         padding: 25px 0 23px 0 !important;
     }
     textarea.addres-area {
         width: 90%;
     }
     p.get-more-p {
         margin: 0 0 0 47px;
     }
     section.header {
         height: 51px !important;
     }
     button.btn-submit {
         width: 52% !important;
     }
     section.footer-1 {
         margin: 0 !important;
     }
     footer.foot-marg {
         margin: 0 0 0 18%;
     }
     /* new-home */
     .box-mar {
         margin: 5% 14% 0 31% !important;
     }
     .box-mar-1 {
         margin: 7% 14% 0 31% !important;
     }
     .border-rad {
         margin: 10% 8% 3% 28% !important;
     }
     .box-3 {
         width: 100% !important;
     }
     p.wht-wod-p {
         font-size: 20px;
         margin-left: 46px;
         line-height: 29px;
     }
     p.wlcm-p {
         margin-left: 50px;
     }
     /* a.a-bg-git {
         margin-top: 166px !important;
     } */
 
     /* social-storage */
     section.fixed-1 {
         margin: 6% 0 0 82% !important;
     }
     i.cloud-icon-fa {
         font-size: 39px !important;
         margin-bottom: 14px !important;
     }
     p.upgarde-p {
         font-size: 13px !important;
         line-height: 18px !important;
         margin-bottom: 17px !important;
     }
     p.upgarde-to {
         font-size: 13px !important;
         line-height: 18px !important;
     }
     a.font-nav {
         font-size: 12px !important;
     }
     section.tab-socail {
         margin: 22px 0 0 57px !important;
     }
     button.upload-video-btn {
         font-size: 11px !important;
     }
      /* studio */
      .bg-wht-blr {
        margin: 10px 0 0 -6px;
     }
     img.r-img {
        margin: 10px 0 0 0;
    }
      p.access-camera-p {
         font-size: 17px !important;
      }
 
      .grid-container{
         grid-template-columns: 1fr !important;
         grid-template-rows: 0.4fr 0.4fr 0.4fr ;
     }
     .grid-item {
         padding: 22px !important;
         margin-top: 19px !important;
     }
     img.chat-img {
         width: 18% !important;
     }
     a.add-designation-btn {
         font-size: 13px;
     }
     img.send-icon {
         width: 16px;
     }
     .add-bg-1 {
         margin-left: 0 !important;
         margin-top: 11px !important; 
     }
     .blk-screen {
         margin: 12px 15px 0 15px;
         height: 362px;
         padding: 82px 20px 0 20px;
     }
     .blk-screen {
         margin: 11px 15px 0 15px !important;
         height: 346px !important;
         padding: 41px 34px 0 34px !important;
     }
     button.btn-allow-mic {
         margin-left: 0 !important;
         font-size: 11px;
     }
     button.btn-without {
         margin: 32px 0 0 0 !important;
         font-size: 11px;
     }
     .icons-group {
         margin: 3% 0 0 7% !important;
     }
     i.fa-micro {
         font-size: 18px !important;
     }
     i.fa-vido {
         font-size: 19px !important;
         margin: 0 4px 0 4px !important;
     }
     i.fa-lapt {
         font-size: 19px !important;
     }
     i.fa-user {
         font-size: 16px !important;
         margin: 0 4px 0 4px !important;
     }   
     i.fa-pls {
         font-size: 18px !important;
     }
     i.fa-grear {
         font-size: 19px !important;
         margin: 0 4px 0 4px !important;
     }
     .down-up {
         margin: 14px 0 0 20px !important
     }
     i.fa-cm {
         margin-top: 6px !important;
     }
     .footer {
         margin: 217px 0 0 0 !important;
     }
     a.go-live-btn {
         margin-top: 12px !important;
     }
     .overlay-1 {
         top: 107px !important;
     }
     a.font-nav {
         font-size: 13px !important;
         padding: 6px 0 6px 0 !important;
     }
     li.nav-item {
         width: 31% !important;
     }
     img.caption-img {
         width: 17% !important;
     }
     .overlay {
         top: 137px !important;
         height: 139px !important;
         left: 8px !important;
     }
     .pshow {
         padding: 55px 0 0 0 !important;
     }
     /* does-it-work */
     .dflex {
        flex-wrap: wrap;
    }
    
    .cam-img {
        background-size: 345px 312px !important;
        /* height: 252px; */
        height: 284px;
    }
    video.video-cs-1 {
        /* width: 36% !important;
        margin: 138px 0 0 84px !important; */
        width: 36% !important;
        margin: 103px 0 0 81px !important;
    }
    h2.welcome-heading {
        margin-top: 31px;
    }
    
    p.alpha-two {
        margin: 7px 0 0 0 !important;
    }
    p.alpha-one {
        margin: 49px 0 0 0 !important;
    }
    h2.welcome-heading {
        margin: 21px 0 12px 0;
    }
 }
 @media only screen and (min-device-width: 400px) and (max-device-width: 500px){
     /* sign up */
     button.btn-sign-free {
         width: 56%;
     }
     .pad-left {
         padding-left: 17px;
     }
     section.top-mar {
         margin-top: 41px;
     }
     input.email-input {
         width: 99%;
     }
     h2.get-more {
         font-size: 42px;
     }
     p.atw-p {
         font-size: 14px;
     }
     img.img-one {
         margin-top: 4px;
     }
     /* home */
     a.btn-fb {
         width: 74%;
     }
     a.btn-gog {
         width: 74%;
     }
     a.btn-sign {
         width: 44%;
     }
     /* dashboard */
     /* ----------- new changes ------------- */

     .bg-pexel-joseph {
        background-image: url(../image/tv.jpg) !important;
        background-size: 313px 226px;
        width: 100%;
        margin: 0;
        padding: 22px 0 0 19px;
    }
    video.video-cs {
        width: 272px !important;
        height: 147px !important;
        margin: 0 !important;
    }
     h2.multiple-dash-h2 {
        font-size: 34px;
     }
     .mar-top {
        margin-top: 30px;
     }
     p.grow-dash-p {
        font-size: 16px;
     }
     a.btn-getstarted {
        width: 52%;
        margin-bottom: 20px;
     }
     img.restream-dash-img {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        max-height: 174px;
    }
    img.tv-img {
        width: 92%;
    margin: 0 0 0 26px;
    }
    
     /* -------------------- */
     .main-1 {
         margin-right: 11px;
     }
     a.welcome-heading {
         font-size: 23px;
     }
     button.btn-generate {
         width: 40% !important;
         margin-top: 24px;
         margin-bottom: 19px;
     }
     button.btn-copy {
         width: 29% !important;
         margin-left: 7px !important;
     }
     .sidebar {
         width: 77px !important;
     }
     /* social-channel */
     button.add-channel-btn {
         width: 57% !important;
     }
     p.enjoy-p {
        font-size: 22px;
    }
     img.fbl-img {
         margin-bottom: 15px;
     }
     .mar-top {
         margin-right: 0;
         margin-left: 0;
     }
     img.live-img {
         width: 34% !important;
         margin-top: 16px;
     }
     img.cn-img {
        margin: 0 0 10px 0;
     }
     a.add-channel-btn {
        width: 39%;
    }
      /* social-fb */
      .main {
         margin-left: 10px !important;
         padding: 0 !important;
     }
     .borde-r {
         border-left: none !important;
         border-top: 1px solid #c0c0c0c9 !important;
     }
     button.conct-fb-btn {
         margin-top: 15px;
         margin-bottom: 24px;
     }
     h2.about-h2,p.learn-cont-fb-p {
         margin-left: 0 !important;
     }
     .top-mar {
         margin-top: 79px !important;
     }
     h2.about-h2 {
         margin-top: 23px;
     }
     /* sign in */
     p.already-p-1 {
         font-size: 11px !important;
     }    
     a.sign-up,a.forget {
         font-size: 16px !important;
     }
     /* forget */
     a.btn-forget {
         width: 46%;
     }
     /* my-account */
    
     .fg-mar {
         margin-left: 28px !important;
     }
     input.name-input {
         width: 90%;
     }
     .bg-col-sli {
         width: 100%;
         padding: 25px 0 23px 0 !important;
     }
     textarea.addres-area {
         width: 90%;
     }
     p.get-more-p {
        margin: 3px 0 0 36px;
        text-align: center;
     }
     p.u-name-p {
        margin: 0;
        text-align: center;
    }
     section.footer-1 {
         margin: 0 !important;
     }
     footer.foot-marg {
         margin: 0 0 0 18%;
     }
     /* new-home */
     section.header {
        height: 57px;
     }
     i.cmt-fa {
        margin: 0 20px 6px 0;
     }
     .box-mar {
         margin: 5% 18% 0 33% !important;
     }
     .box-mar-1 {
         margin: 7% 18% 0 33% !important;
     }
     .border-rad {
         margin: 10% 13% 3% 28% !important;
     }
     .box-3 {
         width: 100% !important;
     }
     p.wht-wod-p {
         font-size: 20px;
         margin-left: 46px;
         line-height: 29px;
     }
     a.a-bg-git {
         margin-top: 312px !important;
     }
     /* social-storage */
     section.tab-socail {
         margin: 22px 0 0 59px !important;
     }
     section.fixed-1 {
         margin: 6% 0 0 85% !important;
     }
     /* studio */
     .bg-wht-blr {
        margin: 10px 0 0 -14px;
     }
     img.r-img {
        margin: 10px 0 0 0;
    }
     .grid-container{
         grid-template-columns: 1fr !important;
         grid-template-rows: 0.4fr 0.4fr 0.4fr ;
     }
     .grid-item {
         padding: 17px !important;
         margin-top: 19px !important;
     }
     .blk-screen {
         margin: 12px 15px 0 15px;
         height: 362px;
         padding: 82px 20px 0 20px;
     }
     .blk-screen {
         margin: 11px 15px 0 15px !important;
         height: 346px !important;
         padding: 41px 34px 0 34px !important;
     }
     button.btn-allow-mic {
         margin-left: 0 !important;
     }
     button.btn-without {
         margin: 32px 0 0 0 !important;
     }
     .icons-group {
         margin: 3% 0 0 12% !important;
     }
     .down-up {
         margin: 14px 0 0 20px !important
     }
     i.fa-cm {
         margin-top: 6px !important;
     }
     .footer {
         margin: 217px 0 0 0 !important;
     }
     a.go-live-btn {
         margin-top: 12px !important;
     }
     .overlay-1 {
         top: 107px !important;
     }
     a.font-nav {
         font-size: 13px !important;
         padding: 6px 0 6px 0 !important;
     }
     li.nav-item {
         width: 31% !important;
     }
     img.caption-img {
         width: 17% !important;
     }
     .add-bg-1 {
         margin-left: 8px !important;
         margin-top: 11px !important; 
     }   
     /* footer */
     .mab {
         margin: 0 !important;
     }

     /* does-it-work */
     .dflex {
        flex-wrap: wrap;
    }
    p.alpha-one {
        margin: 0;
    }
    .cam-img {
        background-size: 344px 312px !important;
        height: 252px;
    }
    video.video-cs-1 {
        /* width: 31% !important;
        margin: 127px 0 0 84px !important; */
        width: 35% !important;
        margin: 93px 0 0 77px !important;
    }
    h2.welcome-heading {
        margin-top: 31px;
    }
    p.alpha-two {
        margin: 7px 0 0 0 !important;
    }
 }
 @media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
     /* footer */
     .mab {
         margin: 0 0 0 18px !important;
     }
     a.add-channel-btnn {
        width: 52%;
        font-size: 13px;
    }
     /* sign up */
     button.btn-sign-free {
         width: 56%;
     }
     input.email-input {
         width: 93%;
     }
     h2.get-more {
         font-size: 41px;
     }
     p.atw-p {
         font-size: 17px;
     }
 
     /* home */
     a.btn-fb,a.btn-gog {
         width: 73%;
         font-size: 17px;
     }
     a.btn-sign{
         width: 61%;
         font-size: 17px;
     }
 
     /* dashboar */
     /* --------changes css------------ */
 
 video.video-cs {
    width: 277px !important;
    height: 218px !important;
}
 .bg-pexel-joseph {
    background-size: 329px 299px;
    height: 323px;
    width: 100%;
    margin: 0;
 }
 a.btn-getstarted {
     width: 48% !important;
 }
 h2.multiple-dash-h2 {
    font-size: 34px;
 }
 img.restream-dash-img {
    max-height: 198px;
}
 /* ----------------------- */
     button.btn-copy {
         margin-left: 26px !important;
     }
     button.btn-generate {
         width: 35%;
     }
     /* social-channel */
     button.add-channel-btn {
         width: 23% !important;
     }
      /* social-fb */
      .main {
         margin-left: 10px !important;
         padding: 0 !important;
     }
     .top-mar {
        margin-top: 87px;
    }
     /* forget */
     a.btn-forget {
         width: 60%;
     }
     /* new-home */
     .box-mar {
         margin: 7% 0 0 55% !important;
     }
     .box-mar-1 {
         margin: 7% 55% 0 0 !important;
     }
     /* social-storage */
     section.fixed-1 {
         margin: 6% 0 0 91% !important;
     }
     p.enjoy-p {
        font-size: 15px;
    }
    img.moon-img {
        margin: 56px 0 0 11px;
    }
     /* studio */
     .grid-container {
         grid-template-columns: 118px 320px auto !important;
     }
     .footer {
         margin: 230px 0 0 0 !important;
     }
     .overlay-1 {
         top: 164px !important;
     }
 
     a.font-nav {
         font-size: 10px !important;
         padding: 6px 0 6px 0 !important;
     }
     li.nav-item {
         width: 31% !important;
     }
     img.caption-img {
         width: 17% !important;
     }
     img.tr-img-1 {
         width: 20% !important;
     }
     .add-bg-1 {
         padding: 0 27px 6px 9px !important;
     }
     .icons-group {
         margin: 3% 0 0 20% !important;
     }
     button.btn-allow-mic {
         width: 100% !important;
         font-size: 9px !important;
         margin-left: 0 !important;
     }
     button.btn-without {
         margin: 32px 0 0 0 !important;
         font-size: 9px !important;
     }
     img.default-img,img.news-img {
         width: 20%;
     }
     a.bord-img, a.bord-img-1,a.bord-img-2 {
         padding: 0 0 6px 8px !important;
     }
     span.default-graphics {
         font-size: 11px !important;
     }
     .icons-group {
         margin: 3% 0 0 6% !important;
     }
     form.add-des-mar {
         margin-left: 26% !important;
     }
     .blk-screen {
         height: 286px !important;
         padding: 42px 19px 0 19px !important;
     }
     p.access-camera-p {
         font-size: 20px !important;
     }
      /* does-it-work */
      .cam-img {
        background-size: 259px 301px !important;
    }
    video.video-cs-1 {
        width: 14% !important;
        /* margin: 156px 0 0 46px !important; */
        margin: 108px 0 0 44px !important;
    }
    h2.welcome-heading {
        margin-top: 30px;
    }
    img.cam-img-1 {
        height: 301px !important;
    }
    .one {
        height: 301px !important;
    }
     p.alpha-two {
        font-size: 57px !important;
        margin: 42px 0 0 0 !important;
    }
    p.alpha-one {
        font-size: 57px !important;
        margin: 42px 0 0 0 !important;
    }
    p.add-2 {
        font-size: 13px !important;
    }
    a.add-channel-btn {
        width: 55% !important;
        font-size: 12px;
    }
    .go-li-btn {
        font-size: 12px;
    }
 }
 @media only screen and (min-device-width: 1024px) and (max-device-width: 1215px){
     /* sign up */
     button.btn-sign-free {
         width: 43%;
     }
     p.atw-p {
         font-size: 16px;
     }
     input.email-input {
         width: 76%;
     }
     /* home */
     a.btn-sign {
         width: 40%;
     }
     /* social-fb */
     .main {
         margin-left: 24px !important;
         padding: 0 !important;
     }
     .top-mar {
        margin-top: 96px;
    }
     p.learn-cont-fb-p {
         font-size: 16px !important;
     }
     /* forget */
     a.btn-forget {
         width: 39%;
     }
     /* new-home */
     .box-mar {
         margin: 7% 0 0 67% !important;
     }
     .box-mar-1 {
         margin: 7% 67% 0 0 !important;
     }
     /* social-storage */
     section.fixed-1 {
         margin: 6% 0 0 93% !important;
     }
     p.enjoy-p {
        font-size: 22px !important;
    }
     /* studio */
     .grid-container {
         grid-template-columns: 174px 466px auto !important;
     }
     .footer {
         margin: 230px 0 0 0 !important;
     }
     .overlay-1 {
         top: 164px !important;
     }
 
     a.font-nav {
         font-size: 10px !important;
         padding: 6px 0 6px 0 !important;
     }
     li.nav-item {
         width: 31% !important;
     }
     img.caption-img {
         width: 17% !important;
     }
     img.tr-img-1 {
         width: 20% !important;
     }
     .add-bg-1 {
         padding: 0 27px 6px 9px !important;
     }
     .icons-group {
         margin: 3% 0 0 20% !important;
     }
     button.btn-allow-mic {
         width: 100% !important;
         font-size: 10px !important;
         margin-left: 0 !important;
     }
     button.btn-without {
         margin: 32px 0 0 0 !important;
         font-size: 10px !important;
     }
     form.add-des-mar {
         margin-left: 26% !important;
     }
     /* does-it-work */
    
     p.alpha-two {
        margin: 11px 0 0 0 !important;
    }
    p.alpha-one {
        margin: 19px 0 0 18px !important;
    }
    a.add-channel-btn {
        width: 42% !important;
    }
    .one {
        height: 365px !important;
    }
    p.add-2 {
        font-size: 20px !important;
    }
    .cam-img {
        background-size: 351px 390px !important;
    }
    video.video-cs-1 {
        width: 14% !important;
        /* margin: 182px 0 0 61px !important; */
        margin: 164px 0 0 59px !important
    }
    /* app-dashboard */
    .bg-pexel-joseph {
        margin: 0 0 0 39px;
    }
}